div.header{
    text-align: right;
}

img#logo{
    height: 120px;
    width: 450px;
}


p{
    text-align: justify;
}

p#inicio{
    text-align: center;
    background-color: #45a127;
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
}

h2{
    background-color: #45a127;
    color: #ffffff;
    padding: 5px;
}

a{
    color: #ffffff;
}

a.topo, p.topo{
    color:#373435;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #99d188;
    border-radius: 10px;
    width: 150px;
    text-align: center;

}

img.alunos{
    height: 250px;
    width: 200px;
    margin: 5px;
    border: solid 2px #373435;
}

img#seta{
    height: 15px;
    width: 15px;
}

img.docentes{
    height: 170px;
    width: 270px;
}


table#resultados{
    text-align: center;
   border: solid #373435 3px;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-collapse: collapse;
}

table#resultados td, th{
    padding: 7px;
} 

div.doc{
    display: flex;
}

div.resultados{
    text-align: center;
}

div.depoimentos{
    width: 210px;
    height: 520px;
    margin: 40px;
}

div.dep{
    display: flex;
    justify-content: center;
}

div.doc{
    display: block;
}

div.docentes{
    display: flex;
}

div#profs{
    display: block;
    text-align: center;
}


@media (max-width: 500px){
    div.dep{
        display: block;
    }

    img.docentes{
        height: 170px;
        width: 270px;
        display: block;
        margin: 8px;
    }

    div.docentes{
        display: block;
    }

    img#aprovados{
        width: auto;
        height: 240px;
    }

    img#logo{
        height: 100px;
        width: auto;
    }
}